{% extends "layout.html" %}

{% block title %}
Report Page
{% endblock %}

{% block content %}
    <nav class="relative bg-gray-800 text-white p-4 text-center text-lg">
        Navigation bar
    </nav>
    <h1 class="text-5xl font-bold mb-4 text-center pb-4 pt-6">Welcome to the Report Page</h1>
    <p class="text-2xl font-bold text-center pb-4">This page will contain contents on reports</p>


<div class="grid grid-cols-3 gap-4 m-4">
    
    {% for page in pages %}
            <div class="bg-indigo-400 rounded-lg shadow-md p-4">
            <img class="rounded-lg" src="{{page.image.url}}" alt="">
            <h3 class="text-2xl py-2 font-bold">{{page.name}}</h3>
            <a href="{% url 'mouse_detail' page.id %}">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                    {{page.type}} - {{page.id}}
                </button>
            </a>
        </div>


    {% endfor %}

</div>

{% endblock %}
